@charset "utf-8";

/* General */

body {
	font-family: Roboto;
	font-weight: 300;
	margin:0px;	
	background-size: cover;
}

img {
	max-width: 100%;
}

h1,h2 {
	color:#FF5671;
	text-transform: uppercase;
}



section {
	display: flex;
	text-align: center;
    padding: 50px 0px;
	
}

button {
 	background: #FF5671;
	margin-top: 50px;
 	padding: 10px 50px;
 	border-radius: 15px;
 	color: #ffffff;
 	font-weight: 700;
	
}

/* Desafio 01 */


.column-2 {
	width: 20%;	
}

.column-8 {
	width: 60%;
}


.desafio-01 {
	background: #67D8EB;
}

.BordeRojo {
	border: solid 2px red;	
}



/*Desafío 02*/


.column-1 {
	width: 100%;
}

.column-3 {
	width: 33%;
}


.desafio-02 {
	background: #C0FFA8;
	padding-bottom: 0px;
}

.titulo{

	padding:50px 0px 0px 0px;
	
}


input {
	border-radius: 10px;
	padding: 5px;
	margin: 10px 10px 5px 10px;
}


.resultado {
	
	padding:10px 0px 50px 0px;
	
}




button.boton-02 {
	
	margin-top: 0px;
}


/*Desafio 03 */


.desafio-03 {

	background:#FF7CC7;
	padding: 25px 0px;
	
}

.seleccion{
	
	display: flex;
	
}

	

select {
	width: 150px;
	height: 150px;
	text-align: center;
	color:#FF7CC7;
	font-size:40px;
	font-size:600;
	border-radius: 50%;
	padding:200;
	margin: 5px 10px 20px 10px;		
}

.tabla {
	background: #f4f4f4;
	width: 100%;
	padding: 50px 0px;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 2px 2px 5px #999999;
}

.blanco {
	
	color:#ffffff;
}

button:hover {
	
 	background: #ffffff;
 	color: #141B35;	
}


